@media screen and (max-width: 768px) {
  section.about-us article header {
    padding-left: 50px;
    padding-right: 50px; } }

@media screen and (max-width: 768px) {
  section.about-us article div.content {
    padding-left: 50px;
    padding-right: 50px; } }

@media screen and (max-width: 768px) {
  section.about-us article div.best-proj {
    padding-left: 50px;
    padding-right: 50px; } }

@media screen and (max-width: 1072px) {
  span.arrow-left {
    display: none !important; } }

@media screen and (max-width: 1072px) {
  span.arrow-right {
    display: none !important; } }

@media screen and (max-width: 992px) {
  section.clients-says article.says header {
    padding-right: 0; } }

@media screen and (max-width: 992px) {
  section.clients-says article.says header h1 {
    text-align: center; } }

@media screen and (max-width: 992px) {
  section.clients-says article.says header hr {
    float: none; } }

@media screen and (max-width: 992px) {
  section.clients-says article.says header p {
    text-align: center; } }

@media screen and (max-width: 825px) {
  section.get-in-touch {
    padding-left: 50px;
    padding-right: 50px; } }

@media screen and (max-width: 992px) {
  section.what-we-do div.row article header {
    margin-top: 50px;
    width: 100%;
    text-align: center; }
  section.services div.row article header p {
    margin: 0; }
  section.what-we-do div.row article header p {
    margin: 0; }
  section.what-we-do div.row article header hr {
    margin: 0 auto;
    float: none; } }

@media screen and (max-width: 768px) {
  section.what-we-do div.row article div.content {
    padding-left: 50px;
    padding-right: 50px; } }

@media screen and (min-width: 768px) {
  nav.navbar-clemo div.clemo-container-fluid {
    padding: 0; } }

@media screen and (max-width: 768px) {
  nav.navbar-clemo div.clemo-container-fluid div.clemo-collapse ul li a.active hr {
    display: none; } }
